TLSv1.3 not working with HTTP/2 for HttpServer using JDK as SSL Provider

If an HttpServer is configured to use TLSv1.3 and HTTP/2, connections using HTTP/2 and TLSv1.3 can not be established. TLSv1.3 works only without HTTP/2. If TLSv1.2 and TLSv1.3 are configured, only TLSv1.2 can be used. If only TLSv1.3 is configured, no connection can be established at all.

## Expected Behavior
Connecting to an HttpServer using HTTP/2 and TLSv1.3 should be possible.

## Actual Behavior
HTTP/2 connections with TLSv1.3 can not be established and the following exceptions is thrown.

```
(reactor-http-nio-3) [id: 0xa7207b9e, L:/127.0.0.1:8080 ! R:/127.0.0.1:50370] onUncaughtException(SimpleConnection{channel=[id: 0xa7207b9e, L:/127.0.0.1:8080 ! R:/127.0.0.1:50370]}) - io.netty.handler.codec.DecoderException: javax.net.ssl.SSLHandshakeException: The client supported protocol versions [TLSv1.3] are not accepted by server preferences [TLS12]
io.netty.handler.codec.DecoderException: javax.net.ssl.SSLHandshakeException: The client supported protocol versions [TLSv1.3] are not accepted by server preferences [TLS12]
	at io.netty.handler.codec.ByteToMessageDecoder.callDecode(ByteToMessageDecoder.java:471)
	at io.netty.handler.codec.ByteToMessageDecoder.channelRead(ByteToMessageDecoder.java:276)
	at io.netty.channel.AbstractChannelHandlerContext.invokeChannelRead(AbstractChannelHandlerContext.java:379)
	at io.netty.channel.AbstractChannelHandlerContext.invokeChannelRead(AbstractChannelHandlerContext.java:365)
	at io.netty.channel.AbstractChannelHandlerContext.fireChannelRead(AbstractChannelHandlerContext.java:357)
	at io.netty.channel.DefaultChannelPipeline$HeadContext.channelRead(DefaultChannelPipeline.java:1410)
	at io.netty.channel.AbstractChannelHandlerContext.invokeChannelRead(AbstractChannelHandlerContext.java:379)
	at io.netty.channel.AbstractChannelHandlerContext.invokeChannelRead(AbstractChannelHandlerContext.java:365)
	at io.netty.channel.DefaultChannelPipeline.fireChannelRead(DefaultChannelPipeline.java:919)
	at io.netty.channel.nio.AbstractNioByteChannel$NioByteUnsafe.read(AbstractNioByteChannel.java:163)
	at io.netty.channel.nio.NioEventLoop.processSelectedKey(NioEventLoop.java:714)
	at io.netty.channel.nio.NioEventLoop.processSelectedKeysOptimized(NioEventLoop.java:650)
	at io.netty.channel.nio.NioEventLoop.processSelectedKeys(NioEventLoop.java:576)
	at io.netty.channel.nio.NioEventLoop.run(NioEventLoop.java:493)
	at io.netty.util.concurrent.SingleThreadEventExecutor$4.run(SingleThreadEventExecutor.java:989)
	at io.netty.util.internal.ThreadExecutorMap$2.run(ThreadExecutorMap.java:74)
	at io.netty.util.concurrent.FastThreadLocalRunnable.run(FastThreadLocalRunnable.java:30)
	at java.base/java.lang.Thread.run(Thread.java:832)
Caused by: javax.net.ssl.SSLHandshakeException: The client supported protocol versions [TLSv1.3] are not accepted by server preferences [TLS12]
	at java.base/sun.security.ssl.Alert.createSSLException(Alert.java:131)
	at java.base/sun.security.ssl.Alert.createSSLException(Alert.java:117)
	at java.base/sun.security.ssl.TransportContext.fatal(TransportContext.java:312)
	at java.base/sun.security.ssl.TransportContext.fatal(TransportContext.java:268)
	at java.base/sun.security.ssl.TransportContext.fatal(TransportContext.java:259)
	at java.base/sun.security.ssl.ClientHello$ClientHelloConsumer.negotiateProtocol(ClientHello.java:915)
	at java.base/sun.security.ssl.ClientHello$ClientHelloConsumer.onClientHello(ClientHello.java:831)
	at java.base/sun.security.ssl.ClientHello$ClientHelloConsumer.consume(ClientHello.java:812)
	at java.base/sun.security.ssl.SSLHandshake.consume(SSLHandshake.java:396)
	at java.base/sun.security.ssl.HandshakeContext.dispatch(HandshakeContext.java:445)
	at java.base/sun.security.ssl.SSLEngineImpl$DelegatedTask$DelegatedAction.run(SSLEngineImpl.java:1260)
	at java.base/sun.security.ssl.SSLEngineImpl$DelegatedTask$DelegatedAction.run(SSLEngineImpl.java:1247)
	at java.base/java.security.AccessController.doPrivileged(AccessController.java:691)
	at java.base/sun.security.ssl.SSLEngineImpl$DelegatedTask.run(SSLEngineImpl.java:1192)
	at io.netty.handler.ssl.SslHandler.runAllDelegatedTasks(SslHandler.java:1550)
	at io.netty.handler.ssl.SslHandler.runDelegatedTasks(SslHandler.java:1564)
	at io.netty.handler.ssl.SslHandler.unwrap(SslHandler.java:1448)
	at io.netty.handler.ssl.SslHandler.decodeJdkCompatible(SslHandler.java:1275)
	at io.netty.handler.ssl.SslHandler.decode(SslHandler.java:1322)
	at io.netty.handler.codec.ByteToMessageDecoder.decodeRemovalReentryProtection(ByteToMessageDecoder.java:501)
	at io.netty.handler.codec.ByteToMessageDecoder.callDecode(ByteToMessageDecoder.java:440)
	... 17 more
```

## Steps to Reproduce
1. create self-signed certificate for testing
```bash
openssl req -new -newkey rsa:2048 -days 30 -nodes -x509 -keyout test.key -out test.cert
```

2. simple demo code
```java
import io.netty.handler.ssl.SslContextBuilder;
import java.io.File;
import reactor.core.publisher.Mono;
import reactor.netty.http.HttpProtocol;
import reactor.netty.http.server.HttpServer;

public class Main
{
	public static void main(String... args)
	{
		var key = new File("test.key");
		var cert = new File("test.cert");

		var server = HttpServer
			.create()
			.port(8080)
			.host("localhost")
			.protocol(HttpProtocol.H2) // remove to disable HTTP/2 
			.secure(spec -> spec.sslContext(SslContextBuilder.forServer(cert, key).protocols("TLSv1.2", "TLSv1.3")))
			.handle((request, response) -> response.sendString(Mono.just("hello")))
			.bindNow();

		server.onDispose().block();
	}
}
```

3. check with curl or openssl
```bash
curl https://localhost:8080 -ik --tlsv1.3 --http2
openssl s_client -alpn h2 -connect localhost:8080 -tls1_3
```

4. disable H2 and re-check with the commands from step 3.

## Your Environment

* Reactor version(s) used: 0.9.10
* Other relevant libraries versions (eg. `netty`, ...):
* JVM version (`java -version`): 11.0.6, 14.0.1
* OS and version (eg `uname -a`):


@sephiroth-j Can you add the dependency below and tell me whether the example is working with it?

```
<dependency>
	<groupId>io.netty</groupId>
	<artifactId>netty-tcnative-boringssl-static</artifactId>
</dependency>
```

@violetagg Yes, it works with that dependency.

```
$ curl https://localhost:8080 -ik --tlsv1.3 --http2
HTTP/2 200
content-length: 5

hello
```

The issue here is related to `io.netty.handler.ssl.SslProvider.JDK` usage and that by default when the `SslContextBuilder` does not provide any HTTP/2 relevant configuration Reactor Netty applies such. The cipher suite is as defined here https://tools.ietf.org/html/rfc7540#section-9.2.2 (specific to TLSv1.2) and here https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2SecurityUtil.java.
https://github.com/reactor/reactor-netty/blob/5d5a04c75276a854a766c752e6245150ef84e205/src/main/java/reactor/netty/tcp/SslProvider.java#L311-L323

@sephiroth-j If we expose a configuration like the one below, will it serve what you need?

```
var server = HttpServer
		.create()
		.port(8089)
		.host("localhost")
		.protocol(HttpProtocol.H2) // remove to disable HTTP/2
		.secure(spec -> spec.sslContext(SslContextBuilder.forServer(cert.certificate(), cert.privateKey())
				      			         .protocols("TLSv1.3"))
				    .defaultConfiguration(SslProvider.DefaultConfigurationType.HTTP2_TLS1_3))
		.handle((request, response) -> response.sendString(Mono.just("hello")))
		.bindNow();
```

Maybe.

The question is, why does it work without code changes with netty-tcnative-boringssl-static but not with the pure JDK (`io.netty.handler.ssl.SslProvider.JDK`)? And does it allow the use of HTTP/2 with TLSv1.2 and TLSv1.3?

This seems to me to be another workaround that additionally requires code changes by the clients. In my opinion, this would be worse than including netty-tcnative-boringssl-static where no code changes are required, as these may need to be removed later. The code changes would also be required for all affected clients, including Spring Boot (`org.springframework.boot.web.embedded.netty.SslServerCustomizer`). Therefore, the preference should clearly be for no code changes on the client side.

https://github.com/spring-projects/spring-boot/blob/8d9b1d29886985b476f9614f8e524867cdb25d76/spring-boot-project/spring-boot/src/main/java/org/springframework/boot/web/embedded/netty/SslServerCustomizer.java#L77-L80

I have debugged the initialization process a few times but I have not found the place where TLSv1.3 gets disabled yet. The list of TLS protocols stays the same even at the point where the JDK SSL Engine will be created by Netty.

@violetagg Regarding your proposal two days ago. While debugging I noticed that either `reactor.netty.tcp.SSlProvider` or `reactor.netty.http.server.HttpServerBind` always overwrite any possible previously set sslProvider, ciphers and `ApplicationProtocolConfig` by calling `SSlProvider.updateDefaultConfiguration()`. Therefore I could not check if this is the reason for the error.

```
javax.net.ssl|DEBUG|10|reactor-http-nio-2|2020-07-30 21:31:45.782 CEST|HandshakeContext.java:298|Ignore unsupported cipher suite: TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 for TLS13
javax.net.ssl|DEBUG|10|reactor-http-nio-2|2020-07-30 21:31:45.783 CEST|HandshakeContext.java:298|Ignore unsupported cipher suite: TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384 for TLS13
javax.net.ssl|DEBUG|10|reactor-http-nio-2|2020-07-30 21:31:45.783 CEST|HandshakeContext.java:298|Ignore unsupported cipher suite: TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256 for TLS13
javax.net.ssl|DEBUG|10|reactor-http-nio-2|2020-07-30 21:31:45.783 CEST|HandshakeContext.java:298|Ignore unsupported cipher suite: TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256 for TLS13
javax.net.ssl|DEBUG|10|reactor-http-nio-2|2020-07-30 21:31:45.783 CEST|HandshakeContext.java:298|Ignore unsupported cipher suite: TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 for TLS13
javax.net.ssl|DEBUG|10|reactor-http-nio-2|2020-07-30 21:31:45.783 CEST|HandshakeContext.java:298|Ignore unsupported cipher suite: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 for TLS13
javax.net.ssl|DEBUG|10|reactor-http-nio-2|2020-07-30 21:31:45.783 CEST|HandshakeContext.java:305|No available cipher suite for TLS13
```
That's it!

So basically all that needs to be done is to add the ciphers for TLSv1.3 if it is supported. These are TLS_AES_128_GCM_SHA256 and TLS_AES_256_GCM_SHA384 ([[1]](https://docs.oracle.com/en/java/javase/11/docs/specs/security/standard-names.html#jsse-cipher-suite-names), [[2]](https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/SslUtils.java#L107)).


> I have debugged the initialization process a few times but I have not found the place where TLSv1.3 gets disabled yet. The list of TLS protocols stays the same even at the point where the JDK SSL Engine will be created by Netty.
> 
> @violetagg Regarding your proposal two days ago. While debugging I noticed that either `reactor.netty.tcp.SSlProvider` or `reactor.netty.http.server.HttpServerBind` always overwrite any possible previously set sslProvider, ciphers and `ApplicationProtocolConfig` by calling `SSlProvider.updateDefaultConfiguration()` if `HttpProtocol.H2` is set. Therefore I could not check if this is the reason for the error.

Yes the configuration is updated if `DefaultConfigurationType` is not specified.
You can specify `DefaultConfigurationType.NONE` and provide HTTP/2 configuration by yourself or you can use the other method for configuring security which takes `SslContext` instead of builder.

> ```
> javax.net.ssl|DEBUG|10|reactor-http-nio-2|2020-07-30 21:31:45.782 CEST|HandshakeContext.java:298|Ignore unsupported cipher suite: TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 for TLS13
> javax.net.ssl|DEBUG|10|reactor-http-nio-2|2020-07-30 21:31:45.783 CEST|HandshakeContext.java:298|Ignore unsupported cipher suite: TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384 for TLS13
> javax.net.ssl|DEBUG|10|reactor-http-nio-2|2020-07-30 21:31:45.783 CEST|HandshakeContext.java:298|Ignore unsupported cipher suite: TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256 for TLS13
> javax.net.ssl|DEBUG|10|reactor-http-nio-2|2020-07-30 21:31:45.783 CEST|HandshakeContext.java:298|Ignore unsupported cipher suite: TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256 for TLS13
> javax.net.ssl|DEBUG|10|reactor-http-nio-2|2020-07-30 21:31:45.783 CEST|HandshakeContext.java:298|Ignore unsupported cipher suite: TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 for TLS13
> javax.net.ssl|DEBUG|10|reactor-http-nio-2|2020-07-30 21:31:45.783 CEST|HandshakeContext.java:298|Ignore unsupported cipher suite: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 for TLS13
> javax.net.ssl|DEBUG|10|reactor-http-nio-2|2020-07-30 21:31:45.783 CEST|HandshakeContext.java:305|No available cipher suite for TLS13
> ```
> 
> 
> That's it!
> 
> 
> So basically all that needs to be done is to add the ciphers for TLSv1.3 if it is supported. These are TLS_AES_128_GCM_SHA256 and TLS_AES_256_GCM_SHA384 ([[1]](https://docs.oracle.com/en/java/javase/11/docs/specs/security/standard-names.html#jsse-cipher-suite-names), [[2]](https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/SslUtils.java#L107)).

yes basically that's the issue

And why are the ciphers overwritten at all? They do not have to be set. If they are left empty (`null`), [`io.netty.handler.ssl.JdkSslContext` will take of setting appropriate defaults, taking TLSv1.3 into account.](https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/JdkSslContext.java#L249-L256).

> The question is, why does it work without code changes with netty-tcnative-boringssl-static but not with pure JDK (`io.netty.handler.ssl.SslProvider.JDK`)?

It works with netty-tcnative-boringssl-static because OpenSSL supports TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256 and TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256 from `Http2SecurityUtil.CIPHERS`, while JDK does not.

The cipher issue also applies to HTTP/2-Clients.
https://github.com/reactor/reactor-netty/blob/0.9.x/src/main/java/reactor/netty/http/client/HttpClientSecure.java#L83-L85

@violetagg May I suggest to remove the call of `SslContextBuilder.ciphers()` along with the usage of the unstable and obviously incomplete API `Http2SecurityUtil` in `SslProvider` and `HttpClientSecure`? I would provide a PR if you agree.

@sephiroth-j Yes sure, but we need to take care for this requirement 
https://tools.ietf.org/html/rfc7540#section-9.2.2
https://tools.ietf.org/html/rfc7540#appendix-A

regarding [RFC 7540 Section 9.2.2](https://tools.ietf.org/html/rfc7540#section-9.2.2)
First, the first sentence clearly states "should not", so it is not a hard requirement. So forbidden ciphers can be used for negotiations. The RFC is aware of this here as well.
>  This allows servers to select HTTP/1.1 with a cipher suite that is on the HTTP/2 black list.  However, this can result in HTTP/2 being negotiated with a black-listed cipher suite if   the application protocol and cipher suite are independently selected.

Second, the hard requirement for the TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 cipher is met because it is part of [the standard ciphers used by Netty](https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/SslUtils.java#L143). These standard ciphers contain the following [prohibited ones](https://tools.ietf.org/html/rfc7540#appendix-A):
- TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
- TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
- TLS_RSA_WITH_AES_128_GCM_SHA256
- TLS_RSA_WITH_AES_128_CBC_SHA
- TLS_RSA_WITH_AES_256_CBC_SHA

Thus, since it is not a hard requirement and the `ApplicationProtocolConfig` used by `DefaultConfigurationType.H2` includes HTTP/2 and HTTP/1.1, I see no reason to filter these ciphers. Also, by not overwriting the list of ciphers, users can define their own list of ciphers in `SslContextBuilder` and still use `DefaultConfigurationType.H2`. This would be different with a pure HTTP/2 configuration that strictly follows the recommendations of the RFC.

@sephiroth-j I will check the PR later today

@sephiroth-j What about if we add to the existing list with ciphers also those for TLSv1.3.
Then when the filter is invoked it will decide whether to include them or not.
https://github.com/reactor/reactor-netty/blob/a4f8630e19d88495a323cd3e8f875c817a1ec47a/src/main/java/reactor/netty/tcp/SslProvider.java#L378
https://github.com/netty/netty/blob/4b7dba14c429b70c75d8fea65cc3a5359ea14927/handler/src/main/java/io/netty/handler/ssl/SupportedCipherSuiteFilter.java#L34
Also in addition to this change we can expose `H2_NO_CIPHERS` for those that still want the HTTP/2 configuration but other cipher suite.

@sephiroth-j We will have updated ciphers for Netty 4.1.52.Final
https://github.com/netty/netty/pull/10480

@violetagg Oh, good, I will check this once Netty 4.1.52.Final is released. Then this ticket and the PR will be done with an update on the dependencies. 

@sephiroth-j I'll close the PR but I'll keep the ticket opened and I'll close it once we update to Netty 4.1.52.Final

@violetagg okay

@violetagg [Netty 4.1.52.Final has been released](https://github.com/netty/netty/releases/tag/netty-4.1.52.Final). I have tested reactor-netty 0.9.10 and 0.9.11 with netty-4.1.52.Final and it works in both combinations.

@sephiroth-j Thanks for testing it.

Netty version updated for 0.8.21.BUILD-SNAPSHOT, 0.9.12.BUILD-SNAPSHOT and 1.0.0-SNAPSHOT